<%- include('./header')%>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="width: 1200px; margin-left: -250px;">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Static Table With Checkboxes</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            <label class="customcheckbox m-b-20">
                                                <input type="checkbox" id="mainCheckbox" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th scope="col">category</th>
                                        <th scope="col">Subcategory</th>
                                        <th scope="col">extracategory</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="customtable">
                                    <% for(var v of extracatogrydata){%>
                                    <tr>
                                        <th>
                                            <label class="customcheckbox">
                                                <input type="checkbox" class="listCheckbox" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <td><%=v.catogry.category%></td>
                                        <td><%=v.subcategory.subcategory%></td>
                                        <td><%=v.extracategory%></td>
                                        <td>
                                            <%if(v.isActive){%>
                                                <a href="/admin/Extracatogry/isactive/<%=v.id%>"
                                                    class="alert-success px-1 text-grey">Active</a>
                                                <%} else{%>
                                                    <a href="/admin/Extracatogry/deactive/<%=v.id%>"
                                                        class="alert-danger px-1 text-grey">Deactive</a>
                                                    <%}%>
                                        </td>
                                        <td>
                                            <a href="/admin/Extracatogry/extraupdateData/<%=v.id%>"><i
                                                    class="m-r-10 mdi mdi-border-color"
                                                    style="position: absolute; height: 10px; width: 20px; font-size: 20px; margin: 3px  0  0  10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./footer') %>